
 

  <!--  about design -->
  <section id="about">
    <div class="wrapper about">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-12 left-wrapper">
            <div class="about-img position-relative" data-aos="zoom-in" data-aos-delay="800">
              <img src="https://us.123rf.com/450wm/merfin/merfin1904/merfin190402174/123917312-team-people-moving-business-invitation-and-corporate-party-design-training-courses-about-us-expert-t.jpg?ver=6" alt="about" class="img-fluid">
            </div>
          </div>
          <div class="col-lg-6 col-md-12 pt-md-5 right-wrapper">
            <div data-aos="fade-left" data-aos-delay="800">
              
                <h2>Who we are?</h2>
                <p>ICT Academy of Kerala is a Social Enterprise created in a Public Private Partnership model (PPP) for imparting ICT skills to the youths of Kerala and improve their employability opportunities in the Industry. The Company is supported by Govt. of India , partnered by Govt. of Kerala and the IT industry.</p>
                
            </div>
            <div data-aos="fade-right" data-aos-delay="800">
              
              <h3>Vision</h3>
              <p>To emerge as the single-point establishment for all the ICT related capability building in the State</p>
              
          </div>
            <div class="mt-5" data-aos="fade-up" data-aos-delay="100">
              <a href="#contact" class="main-btn  ">Explore More</a>
            </div>
          </div>
        </div> 
      </div>
    </div>
  </section>
  <div class="clearfix"></div>

  <!-- Section-3 our Key focuses -->
  <section id="approach">
    <div class="wrapper approach">
      <div class="container">
        <div class="heading text-center">
         
          <h2>Our Key Focuses</h2>
        </div>
        <div class="approach-cards ">
          <div class="container align-items-center">
            <div class="row">
              <div class="col-md-6 col-lg-3">
                <div class="card" data-aos="zoom-in" data-aos-delay="100">
                  <div class="card-image">
                    <img src="https://www.clipartkey.com/mpngs/m/325-3257036_training-clipart-training-manager-employee-training-training-and.png" class="img-fluid">
                  </div>
                  <div class="content">
                   
                    <p class="card-description">Industry focused enablement programmes for Faculty members</p>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-lg-3">
                <div class="card" data-aos="fade-down" data-aos-delay="100">
                  <div class="card-image">
                    <a href="#">
                      <img src="">
                    </a>
                  </div>
                  <div class="content">
                    <p class="card-description">Industry focused ICT Skills development programmes for Students</p>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-lg-3">
                <div class="card" data-aos="zoom-in" data-aos-delay="100">
                  <div class="card-image">
                    <img src="https://us.123rf.com/450wm/robuart/robuart1605/robuart160500059/56399866-training-staff-briefing-presentation-staffing-and-corporate-training-employee-seminar-mentor-and-peo.jpg?ver=6" class="img-fluid">
                  </div>
                  <div class="content">
                    <p class="card-description">Project assignments related to capability building for Institutions and Corporate </p>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-lg-3">
                <div class="card" data-aos="zoom-in" data-aos-delay="100">
                  <div class="card-image">
                    <img src="" class="img-fluid">
                  </div>
                  <div class="content">
                    <p class="card-description">Creating Intellectual Property on niche skill areas and emerging technologies.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="clearfix"></div>

  <!-- Section-4 Partners design -->
<!-- 
  <section id="partners" class="partners">
    <div class="container" data-aos="fade-up">
      <div class="section-title">
        <h2>Partners</h2>
        <p>Industrial Partners</p>
      </div>
      <div data-aos="zoom-in" data-aos-delay="100">
        <owl-carousel-o [options]="customOptions">
          <ng-template carouselSlide *ngFor="let partnersArrays of industryPartnersArray"> <img src="{{partnersArrays.imgName}}" alt="Partners"></ng-template>  
         
        </owl-carousel-o>

      </div>

      <div class="section-title">
        
        <p>Knowledge Partners</p>
      </div>
      <div data-aos="zoom-in" data-aos-delay="100">
        <owl-carousel-o [options]="customOptions">
          <ng-template carouselSlide *ngFor="let partnersArrays of knwdgPartnersArray"> <img src="{{partnersArrays.imgName}}" alt="Partners"></ng-template>  
         
        </owl-carousel-o>

      </div>

      
    </div>
  </section>
 
  <div class="clearfix"></div>   -->

  <!-- ======= Trainers Section ======= -->
  <section id="trainers" class="trainers">
    <div class="container" data-aos="fade-up">

      <div class="section-title text-center">
        <h2>Our Hard Working Team</h2>
       
      </div>
      <app-team></app-team>

    </div>
  </section>
  <div class="clearfix"></div>  



  <!-- Section-5 contact design -->
  <section id="contact">
    <div class="wrapper contact">
      <div class="container">
        <div class="heading text-center">
          <h5>Let’s Start a Conversation!</h5>
          <h2>Contact hear</h2>
        </div>
      </div>
      <div class="contact">
        <div class="container">
          <div class="row">
            <div class="col-lg-5 col-md-5">
              <h4>Contact Info</h4>
              <ul class="our-con-info list-unstyled" data-aos="fade-down-right" data-aos-delay="100">
                <li class="d-flex align-items-center">
                  <i class="pr-3 fa fa-map-marker-alt"></i>
                  <p><a href="">Lorem ipsum dolor sit amet, consectetur.</a></p>
                </li>
                <li class="d-flex align-items-center">
                  <i class="pr-3 fa fa-phone"></i>
                  <p><a href="">+91 999-999-9999</a></p>
                </li>
                <li class="d-flex align-items-center">
                  <i class="pr-3 fa fa-envelope"></i>
                  <p><a href="">Info@lifecoach.in</a></p>
                </li> 
              </ul>
            </div>
            <div class="col-lg-7 col-md-7 pt-lg-0 pt-md-0 pt-4" data-aos="flip-right" data-aos-delay="100">
              <form>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <input type="text" class="form-control" name="name" id="name" placeholder="Your name">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <input type="email" class="form-control" name="email" id="email" placeholder="Email address">
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="form-group">
                       <address class="textarea" name="message" cols="30" rows="4" id="message" placeholder="Enter your message"></address>
                    </div>
                  </div>
                  <div class="col-md-12"> 
                    <a class="main-btn"><i class="fa fa-rocket pr-3"></i> Send Message</a>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="clearfix"></div>  

