
<div class="row" data-aos="zoom-in" data-aos-delay="100" >
    <div class="col-lg-3 col-md-4 col-6 d-flex align-items-stretch" *ngFor="let team of teamMembersList" >
      <div class="member" data-aos="zoom-in" data-aos-delay="100">
        <img [src]='team.imgUrl' class="img-fluid" alt="">
        <div class="member-content">
          <h4>{{ team.name }}</h4>
          <span>{{ team.designation }}</span>
        
          <div class="social">
            <a href=""><i class="icofont-twitter"></i></a>
            <a href=""><i class="icofont-facebook"></i></a>
            <a href=""><i class="icofont-instagram"></i></a>
            <a href=""><i class="icofont-linkedin"></i></a>
          </div>
        </div>
    </div>
    
    
    </div>
</div>